---

---

<div class="links">
	<a href="https://ticketscandy.com/e/mikes-day-out-2024-4566?aff=mikes_day_out_com">get tickets</a>
</div>
<style>
	.links {
		text-align: center;
	}
	a,
	a:visited,
	a:active,
	a:hover {
		color: unset;
		font-size: 1.25em;
	}

	/* @media (min-width: 430px) {
		.links {
			position: relative;
			top: -25px;
		}
	} */
</style>
