---

---

<div class="links">
	<a href="https://ticketscandy.com/e/mikechella-2024-4566">get tickets</a>
</div>
<style>
	.links {
		text-align: center;
	}
	a,
	a:visited,
	a:active,
	a:hover {
		color: unset;
		font-size: 1.25em;
	}

	@media (min-width: 430px) {
		.links {
			position: relative;
			top: -25px;
		}
	}
</style>
